.cell {
  display: grid;
  align-items: center;
  justify-content: center;

  border: 0px ridge rgb(250, 188, 188);
  margin: 0;
  padding: 0;
}

.cell-text {
  margin: 0;
  padding: 0;
  color: rgb(0, 188, 235);
  /* font-size: 150%; */
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}

/* Cell Size */

.small {
  width: 45px;
  height: 45px;
  font-size: 30px;
}

.medium {
  width: 35px;
  height: 35px;
  font-size: 20px;
}

.big {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

/* Cell Color */
.closed-dark {
  background-color: rgb(133, 30, 102);
}

.closed-dark:hover {
  background-color: rgb(194, 72, 157);
}

.closed-light {
  background-color: rgb(160, 36, 122);
}
.closed-light:hover {
  background-color: rgb(194, 72, 157);
}

.open-dark {
  background-color: rgb(100, 91, 91);
}

.open-light {
  background-color: rgb(128, 117, 117);
}

.mined {
}

.flagged {
}

.cell-flag {
  /* text-align: center; */
  color: rgb(207, 197, 47);
}

.cell-bomb {
  color: rgb(67, 251, 51);
}
